html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

// === TYPOGRAPHY
// Families
$ff-raleway: 'Raleway', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
// Weights
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;
$fw-black: 900;
// Sizes
$fs-section-title: 4.8rem;
$fs-column-title: 3.6rem;
$fs-subtitle: 3rem;
$fs-subtitle-24: 2.4rem;
$fs-body: 1.8rem;
// Line Heights
$lh-section-title: 6rem;
$lh-column-title: 4.4rem;
$lh-subtitle: 3.8rem;

// === COLORS
// Primary
$clr-white: #ffffff;
$clr-accent: #282b4a;
$clr-secondery: #ff3549;
$clr-text: #2c2c2c;
// Secondery
$clr-lt-green: #fafffc;
$clr-lt-blue: #f1f5fd;
$clr-rating: #ed8a19;

// === BOX SHADOW
$shadow-1: .5rem .4rem 2.4rem rgba($clr-accent, 0.3);

// === TRANSITIONS
$trans-all-3s: .3s ease-in-out all;
$trans-clr-3s: .3s ease-in-out color;
$trans-shadow-3s: .3s ease-in-out box-shadow;


// === SCREEN BREAK POINTS
$brk-large: 999.98px;
$brk-medium: 767px;
$brk-small: 399.98px;

// === ALL DEFAULT STYLES
body {
    width: 100%;
    height: 100%;
    background-color: $clr-white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

h1, h2, h3, h3, h4, span, blockquote, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

// === REUSABLE CLASSES
.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.p-3 {
    padding: 3rem;
}

.section {
    padding: 6.5rem 0 5rem;

}

.d-flex {
    display: flex;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.columns-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);



    @media (max-width: $brk-large) {
        & {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: $brk-small) {
        & {
            grid-template-columns: 1fr;
        }
    }
}

.container {
    width: 100%;
    max-width: 1170px; 
    margin: 0 auto;
}

.section__title {
    font-size: $fs-section-title;
    font-family: $ff-raleway;
    font-weight: $fw-black;
    text-transform: capitalize;
    margin-bottom: 8rem;
    display: block;
    text-align: center;

    @media (max-width: $brk-medium) {
        & {
            font-size: 3.6rem;
            line-height: 4.6rem;
            margin-bottom: 4rem;
        }
    }
}

.section__subtitle--24 {
    font-family: $ff-poppins;
    font-weight: $fw-bold;
    font-size: $fs-subtitle-24;
    text-transform: capitalize;

    @media (max-width: $brk-medium) {
        & {
            font-size: 1.5rem;
        }
    }
}

.section__subtitle--36 {
    font-family: $ff-raleway;
    font-weight: $fw-semi-bold;
    font-size: 3.6rem;
}

.section__description {
    padding: 0 3rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    text-align: center;
    width: 70%;

    @media (max-width: $brk-medium) {
        & {
            font-size: 1.4rem!important;
            line-height: 2.4rem!important;
        }
    }
}

.btn {
    font-size: $fs-subtitle-24;
    font-weight: $fw-semi-bold;
    font-family: $ff-raleway;
    display: inline-block;
    color: $clr-white;
    text-transform: capitalize;
    padding: 1.6rem 4rem;
    background-color: $clr-secondery;
    border: 1px solid $clr-secondery;
    border-radius: 3.7rem;
    cursor: pointer;
}

.btn__primary {

    &:hover {
        transition: $trans-all-3s;
        color: $clr-secondery;
        background-color: transparent;
    }

    @media (max-width: $brk-medium) {
        & {
            font-size: 1.6rem;
        }
    }
}

.btn__secondary {
    background-color: $clr-accent;
    border: 1px solid $clr-accent;
    color: $clr-white;

    &:hover {
        transition: $trans-all-3s;
        color: $clr-accent;
        background-color: transparent;
    }
}

.btn__header {
    font-size: $fs-body;
    padding: 1rem 2.8rem;
    color: $clr-text;
    transition: $trans-all-3s;
    background-color: $clr-white;

    &:hover {
        color: $clr-white;
        background-color: $clr-secondery;
    }
}

.accent {
    color: $clr-secondery;
}

.text__para {
    font-size: $fs-body;
    font-weight: $fw-regular;
    line-height: 3.6rem;
    color: $clr-text;
}

.footer__column--title {
    font-family: $ff-raleway;
    font-weight: $fw-black;
    font-size: 2.4rem;
    color: $clr-white;
    margin-top: 6rem;

    @media (max-width: $brk-small) {
        & {
            margin-top: 3rem;
        }
    }
}

// === HEADER
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 0 auto;
    background-color: $clr-white;

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            img {
                max-width: 14rem;
            }
        }

        .nav__menu {
            position: relative;
            display: flex;

            .nav__list {
                display: flex;
                align-items: center;
                justify-content: center;

                li a {
                    font-size: 1.8rem;
                    font-family: $ff-poppins;
                    font-weight: $fw-regular;
                    color: $clr-accent;
                    text-transform: capitalize;
                    padding: .6rem 2rem;
                    transition: $trans-clr-3s;
                    position: relative;
                    &:hover {
                        color: $clr-secondery;
                    }

                    &::after {
                        content: '';
                        width: 0%;
                        height: .2rem;
                        background-color: $clr-secondery;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: $trans-all-3s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }

            .nav__close {
                display: none;
            }
        }

        .cta__container {
            .btn__header:nth-child(1) {
                margin-right: 1.6rem;
            }
        }

        .nav__toggle {
            display: none;
        }

        @media (max-width: $brk-large) {
            & {
                padding: 0 1.5rem;
                position: fixed;
                top: 0;
                left: 0;
                height: 80px;
                box-shadow: 0 3px 6px rgba($clr-accent, .1);

                .logo {
                    margin-top: 1rem;
                }

                .nav__menu {
                    position: fixed;
                    top: 0;
                    right: -100%;
                    width: 80%;
                    height: 100vh;
                    background-color: $clr-lt-green;
                    box-shadow: -1px 3px 6px rgba($clr-accent, .2);
                    padding: 3rem;
                    justify-content: center;
                    transition: $trans-all-3s;

                    .nav__close {
                        display: inline-block;
                        position: absolute;
                        top: 1rem;
                        right: 1.25rem;
                        font-size: 4rem;
                        cursor: pointer;
                    }


                    .nav__list {
                        flex-direction: column;
                        gap: 2rem;
                        
                        li a {
                            font-weight: $fw-semi-bold;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                    
                }
                
                .show__menu {
                    right: 0;
                }

                .cta__container {
                    display: none;
                }
            }
            
            .nav__toggle {
                display: inline-flex;
                font-size: 3rem;
                cursor: pointer;
            }
        }
    }
}

// === HOME
.home {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container__home {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10rem;

        .home__content--left {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 3rem;

            .home__title {
                font-size: $fs-section-title;
                font-family: $ff-raleway;
                font-weight: $fw-black;
            }

            .home__description {
                padding-right: 3rem;
            }
        }

        .home__content--right {
            width: 40%;
            
            img {
                width: 100%;
                max-width: 580px;
            }
        }

    }

    @media (max-width: $brk-large) {
        & {
            .container__home {
                flex-direction: column-reverse;
                text-align: center;
                align-items: center;
                justify-content: center;

                .home__content--right {
                    margin-bottom: 3rem;
                }

                .home__content--left {
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    @media (max-width: $brk-medium) {
        & {
            .container__home {

                margin-top: 6rem;

                .home__content--right {
                    width: 100%;
                    padding: 0 3rem;

                    img {
                        max-width: 16rem;
                    }
                }

                .home__content--left {
                    width: 100%;
                    padding: 0 3rem;

                    .home__title {
                        font-size: 3.6rem;
                    }
                    
                    .home__description {
                        font-size: 1.5rem;
                        line-height: 2.5rem;
                        padding: 0 3rem;
                    }

                    .home__cta--container {
                        width: 100%;
                        .btn {
                            font-size: 1.5rem;
                            display: block;
                            margin: 1.5rem 0;
                            text-transform: uppercase;
                            padding: 1rem 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

// === PROGRAMS
.programms {
    padding-top: 0;
    .container__programs {
        .program__gallery {
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1.5rem;
            row-gap: 1.5rem;

            .program__single {
                min-height: 18rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2.6rem;
                overflow: hidden;
                background-size: cover;

                .program__icon {
                    transition: $trans-all-3s;
                }

                &:hover .program__icon{
                    transform: scale(1.1);
                }
                
                .program__title {
                    color: $clr-white;
                    font-weight: $fw-semi-bold;
                    font-size: $fs-body;
                    text-transform: capitalize;
                    transition: $trans-clr-3s;
                }

                &:hover .program__title {
                    color: $clr-secondery;
                }
            }
        }
    }

    @media (max-width: $brk-large) {
        & {
            .container__programs {
                padding: 0 3rem;
                .program__gallery {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }

    @media (max-width: $brk-medium) {
        & {
            .container__programs {
                .program__gallery {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }

    @media (max-width: $brk-small) {
        & {
            .container__programs {
                .program__gallery {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

// === COURSES
.courses {
    .container__courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        .courses__filter {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between!important;
            margin-bottom: 4.5rem;

            .custom__select {
                position: relative;

                .select__course--filter {
                    font-size: $fs-body;
                    color: $clr-accent;
                    padding: 1rem 2rem;
                    border: 1px solid $clr-accent;
                }

                .select__course--filter:focus {
                    outline: none;
                }

            }
        }

        .courses__gallery {
            margin-bottom: 6rem;
            .course__single {
                width: 100%;

                .course__preview {
                    position: relative;
                    overflow: hidden;

                    .course__thumb {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: $trans-all-3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
    
                    .course__info {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background-color: rgba($clr-accent, .8);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        height: 4rem;
                        padding: 0 2rem;

                        .course__title, .course__price {
                            font-size: $fs-body;
                            font-family: $ff-poppins;
                            font-weight: $fw-semi-bold;
                            color: $clr-white;
                        }
                    }
                }
                .course__details {
                    width: 100%;
                    border: 1px solid $clr-accent;
                    padding: 1.4rem 1rem;
    
                    .course__excerpt {
                        font-size: 1.6rem;
                        font-weight: $fw-regular;
                        line-height: 2.3rem;
                        color: $clr-text;
                    }
    
                    .course__util {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 1rem 0 0;
    
                        .course__rating {
                            font-size: 1.6rem;
                            color: $clr-rating;
                        }
    
                        .course__actions {
                            a {
                                font-size: 2rem;
                                color: $clr-accent;
                                padding: 0 .6rem;
    
                                .course__liked {
                                    color: $clr-secondery;
                                }
                            }
                        }
                    }
                }
            }

        }

    }

    @media (max-width: $brk-large) {
        & {
            padding: 3rem;
        }
    }

    @media (max-width: $brk-medium){
        & {
            .courses__filter {
                .custom__select {
                    .select__course--filter {
                        font-size: 1.5rem!important;
                        padding: .8rem!important;
                    }
                }
            }
        }
    }
}

// === HOW IT WORKS
.how__it--works {
    // position: relative;
    overflow: hidden;

    .how__it--works--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section__title {
            margin-bottom: 4rem;
        }

        .text__para {
            text-align: center;
            width: 100%;
            max-width: 85.6rem;
            margin-bottom: 2.5rem;
        }

        .how__it--works--items {
            background-color: $clr-accent;
            color: $clr-white;
            padding: 8rem 0;
            position: relative;
            z-index: 100;

            &::before {
                content: '';
                width: 32.8rem;
                height: 115%;
                background-color: $clr-secondery;
                position: absolute;
                top: calc(-15% / 2);
                left: -35%;
                // transform: translateY(50%);
                z-index: -10;
            }

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                background: $clr-accent;
                position: absolute;
                top: 0;
                left: -28.7rem;
                z-index: -1;
                border-top-left-radius: 26.8rem;
                border-bottom-left-radius: 26.8rem;
            }

            .right__block {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $clr-accent;
                top: 0;
                right: -100%;
            }
            
            .item__single {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;

                .item__img {
                    width: 10rem;
                    height: 10rem;
                    object-fit: cover;
                    margin-bottom: 2rem;
                }

                .item__title {
                    font-size: 3rem;
                    font-family: $ff-poppins;
                    font-weight: $fw-semi-bold;
                    margin-bottom: 1.6rem;
                }

                .item__description {
                    font-size: 1.6rem;
                    font-weight: $fw-regular;
                    line-height: 3rem;
                    width: 90%;
                }
            }
        }
    }


    @media (max-width: $brk-large) {
        & {

            .section__title {
                margin-top: 3rem;
            }


            .how__it--works--items {
                margin-top: 4rem;
                padding: 5rem 3rem!important;

                &::before, &::after, .right__block {
                    display: none;
                }

                .item__single {
                    align-items: center;
                    margin-bottom: 5rem;
                    .item__title {
                        font-size: 2.6rem;
                        text-align: center;
                    }

                    .item__description {
                        text-align: center;
                        width: 100%;
                        font-size: 1.5rem!important;
                        line-height: 2.5rem!important;
                    }
                }
            }
        }
    }
}

// === MASTER CLASSES
.master__classes {
    .master__classes--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section__title {
            margin-bottom: 4rem;
        }

        .section__description {
            margin-bottom: 8rem;
        }

        .class__levels {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3rem;
            
            .level__single {
                display: flex;
                flex-direction: column;

                .level__icon {
                    max-width: 9.4rem;
                    height: 9.4rem;
                    margin-bottom: 2rem;
                }

                .level__title {
                    font-size: 3rem;
                    font-family: $ff-raleway;
                    font-weight: $fw-bold;
                    margin-bottom: 1.6rem;
                    
                }

                .level__description {
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                }
            }
        }

        .btn {
            display: inline-block;
            margin-top: 7rem;
            text-align: center;
        }
    }


    @media (max-width: $brk-medium) {
        & {
            padding: 3rem;
            text-align: centerz;

            .master__classes--container {
                align-items: center;
                justify-content: center;
                
                .section__title {
                    margin-bottom: 2rem!important;
                }
    
                .section__description {
                    width: 100%;
                    padding: 0;
                    margin-bottom: 4rem!important;
                }
    
                .class__levels {
                    grid-template-columns: 1fr!important;
                    
                    .level__single {
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        margin-bottom: 4rem;
                    }
                }

                .btn {
                    margin-top: 2rem;
                }
            }

        }
    }
}

// === APP
.app {
    overflow: hidden;
    .app__container {
        grid-template-columns: repeat(2, 1fr);

        .app__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .section__title {
                text-align: left;
                margin-bottom: 4rem;
            }

            .section__description {
                text-align: left;
                width: 100%;
                padding: 0;
                padding-right: 3rem;
                margin-bottom: 5rem;
            }

            .app__features {
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 6rem;

                .section__subtitle--24 {
                    grid-column: 1 / -1;
                    margin-bottom: 1.6rem;
                }
                
                .app__features {
                    flex-direction: column;
                    align-items: center;
                }
                .feature__item {
                    display: flex;
                    align-items: center;
                    column-gap: 1rem;
                    margin-bottom: 4rem;
                }
            }

            .app__stores {
                width: 100%;
                display: flex;
                align-self: flex-start;
                justify-content: flex-start;
                column-gap: 3rem;
            }
        }

        .app__mockup {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            img {
                max-width: 33rem;
            }

            &::after {
                content: '';
                // width: 50rem;
                width: 180%;
                height: 46rem;
                background-color: $clr-secondery;
                position: absolute;
                top: 20%;
                right: -100%;
                z-index: -1;
            }
        }

        @media (max-width: $brk-large) {
            &{
                grid-template-columns: 1fr!important; 
                padding: 0 3rem ;

                

                .app__info {
                    align-items: center;
                    text-align: center;
                    order: 2;

                    .section__description {
                        width: 100%;
                        text-align: center;
                        width: 70%;
                    }

                    .app__stores {
                        justify-content: center;
                        align-items: center;
                    }
                }

                .app__mockup {
                    width: 100%;
                    order: 1;
                    margin-bottom: 4rem;

                    &::after {
                        width: 100%;
                        right: 0;
                    }
                }
            }
        }

        @media (max-width: $brk-medium) {

            .app__info {

                .section__title {
                    text-align: center;
                }
                .section__description {
                    width: 100%;
                    padding: 0;
                }
                .app__features {
                    grid-template-columns: 1fr;
                    grid-column-gap: 0;
                    grid-row-gap: 1;

                    .feature__item {
                        margin-bottom: 1rem;
                    }
                }

                .desc__secondary {
                    margin-top: 2rem;
                }

                .app__stores {
                    flex-direction: column;
                    row-gap: 2rem;
                    img {
                        width: 100%;
                        max-width: 22rem;
                    }
                }
            }

            .app__mockup {
                align-items: center;
                justify-content: center;
                // display: none;
                img {
                    width: 100%;
                    max-width: 20rem;
                }

                &::after {
                    height: 70%;
                    width: 100%;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        @media (max-width: $brk-small) {
            
        }
    }
}

// === EVETNS
.events {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 7rem 0 11rem ;

    .events__container {
        grid-template-columns: repeat(2, 1fr);

        .event__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .section__title--36 {
                font-family: $ff-raleway;
                font-weight: $fw-bold;
                line-height: 5.2rem;
                color: $clr-white;
                font-size: 3.4rem;
                text-align: left;
                width: 75%;
                align-self: flex-start;
                margin-bottom: 5.6rem;
            }

            .btn__primary {
                text-align: center;
                align-self: flex-start;
            }
        }

        .event__thumb {
            width: 100%;
            img {
                width: 100%;
                box-shadow: 7rem 6rem 0 $clr-secondery;
            }
        }

        @media (max-width: $brk-large) {
            & {
                grid-template-columns: repeat(1, 1fr);
                padding: 3rem;

                .event__info {
                    .section__title--36 {
                        width: 100%;
                        text-align: center;
                        width: 80%;
                        margin: 0 auto 4rem; 
                        font-size: 3rem;
                        line-height: 4rem;
                    }

                    .btn__primary {
                        margin: 0 auto 4rem;
                        display: inline-block;
                        text-align: center;
                    }
                }

                .event__thumb {
                    margin: 0 auto;
                    text-align: center ;
                    img {
                        margin: 0 auto;
                        max-width: 40rem;
                        box-shadow: 2rem 2rem 0 $clr-secondery;
                    }
                }
            }
        }
    }

    @media (max-width: $brk-medium ) {
        & {
            padding: 3rem 0 4rem;
        }
    }
}

//  === PRICING
.pricing {
    .pricing__container {

        .section__title {
            margin-bottom: 3.6rem;
        }
        .section__description {
            width: 100%;
            margin-bottom: 6rem;
        }

        .price__cards {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 3rem;
            .card__single {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                min-height: 33rem;
                padding: 3rem;
                background-color: $clr-lt-green;
                border-radius: 2rem;
                box-shadow: 0 0.2rem .6rem rgba($clr-accent, .1);
                transition: $trans-all-3s;
                
                &:hover {
                    box-shadow: 0 0.6rem .6rem rgba($clr-accent, .1);
                }

                .card__title {
                    font-size: 3.6rem;
                    text-transform: capitalize;
                    text-align: center;
                    margin-bottom: 3rem;
                }

                .card__subtitle {
                    font-size: 2.4rem;
                    font-weight: $fw-regular;
                    text-align: center;
                    margin-bottom: 3rem;
                }

                .card__icon {
                    width: 100%;
                    max-width: 9rem;
                    text-align: center;
                    margin-bottom: 3rem;
                }

                .btn__primary {
                    margin-bottom: 2rem;
                }

                .payment__recurrence {
                    text-align: center;
                    font-size: 1.6rem;
                }
            }
        }

        @media (max-width: $brk-large) {
            & {
                padding: 0 3rem;

                .section__title {
                    margin-bottom: 3rem;
                }
                .price__cards {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}

// === ENROLL
.enroll {
    background-size: cover;
    background-position: center;
    background-color: $clr-accent;
    padding: 10rem 0;
    border-top-right-radius: 26.8rem;
    border-bottom-right-radius: 26.8rem;
    margin: 6rem 0;
    position: relative;
    // z-index: 100;

    &::before {
        content: '';
        width: 40%;
        height: 120%;
        background-color: $clr-secondery;
        position: absolute;
        top: -10%;
        right: -20%;
        z-index: -1;

        @media (max-width: $brk-large) {
            &  {
                display: none;
            }
        }
    }

    .enroll__container {
        width: 70%;

        .section__subtitle--36 {
            color: $clr-white;
            margin-bottom: 3rem;
        }
    
        .section__description {
            line-height: 3.2rem;
            color: $clr-white;
            text-align: left;
            max-width: 50%;
            padding: 0;
            margin-bottom: 4rem;
        }

        .cta__container {
            align-items: center;
            column-gap: 5rem;
            .cta__title {
                font-size: 4.5rem;
                color: $clr-white;
            }
        }

    }


    @media (max-width: $brk-large) {
        & {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 6rem 3rem;

            .enroll__container {
                width: 100%;

                .section__subtitle--36 {
                    width: 100%;
                    font-size: 2.4rem;
                    text-align: center;
                    margin: 0;
                    margin-bottom: 3rem;
                }

                .section__description {
                    width: 100%;
                    text-align: center;
                    padding: 0 2rem;
                    max-width: 100%;
                    font-size: 1.6rem;
                }

                .cta__container {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    row-gap: 3rem;

                    .cta__title {
                        text-align: center;
                        font-size: 3.6rem;
                    }
                }
            }
        }
    }
}

// === TESTIMONIALS
.testimonials {
    .testimonials__container {
        .section__title {
            text-align: left;
            margin-bottom: 2rem;
            
            @media (max-width: $brk-large) {
                & {
                    margin-left: 3rem;
                }
            }
        }

        .testimonials__item--container {
            width: 100%;
            padding: 3rem 4rem;
            background-color: $clr-secondery;

            .review__single {
                padding: 4rem 7rem 0rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                // min-height: 62.6rem;
                color: $clr-white;
                .reviewer__name {
                    font-size: 4.8rem;
                    font-family: $ff-raleway;
                    font-weight: $fw-semi-bold;
                    color: $clr-white;
                    display: block;
                }
                
                .review__text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    position: relative;
                    
                    .quote {
                        font-size: 3rem;
                        color: $clr-white;

                    }
                    
                    .end {
                        position: absolute;
                        bottom: -10%;
                        right: 15%;
                        align-self: flex-end;
                    }

                    blockquote {
                        font-size: 1.6rem;
                        line-height: 3rem;
                        text-align: left;
                        width: 80%;
                    }
                    
                }

                .reviewer__social {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 3rem;
                    font-size: 2.2rem;
                    margin-top: 2rem;

                    a {
                        color: $clr-white;
                    }
                }
            }
        }

        .arrow-left, .arrow-right {
            font-size: 2rem;
            color: $clr-white;
            background-color: transparent;
            border: none;
            position: absolute;
            cursor: pointer;
        }

        .arrow-left {
            top: 7%;
            left: 7%;
        }

        .arrow-right {
            top: 7%;
            right: 7%;
        }
    }

    @media (max-width: $brk-medium) {
        & {
            .testimonials__container {
                .testimonials__item--container {
                    overflow: hidden;
                    padding: 0 3rem;

                    .review__single {
                        width: 100%;
                        min-width: none;
                        padding: 3rem 0;
                        margin: 0;

                        .reviewer__name {
                            font-size: 3.6rem;
                            margin-top: 5rem;
                        }

                        .review__text {
                            width: 100%;
                            padding: 0;
                            
                            blockquote {
                                margin:0;
                                font-size: 1.4rem;
                                line-height: 2.6rem;
                                display: inline-block;
                                width: 100%;
                            }

                            .end {
                                bottom: -15%;
                                right: 5%;
                            }
                        }

                        .reviewer__social {
                            width: 100%;
                            text-align: left;
                            margin-top: 4rem;
                            justify-content: flex-start;
                        }
                    }

                    
                }
            }
        }
    }
}

// === INSTA FEED
.insta__feed {
    background-color: $clr-lt-blue;
    .insta__feed--container {

        .section__title {
            margin-bottom: 4rem;
        }
        
        .feed__container {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 3rem;

            .post__single {
                overflow: hidden;

                a {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: $trans-all-3s;
    
                        &:hover {
                            transform: scale(1.2) rotate(3deg);
                        }
                    }
                }

            }
        }
    }


    @media (max-width: $brk-large) {
        & {
            .insta__feed--container {
                padding: 3rem;
                .feed__container {
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 1.5rem;
                }
            }
        }
    }

    @media (max-width: $brk-medium) {
        & {
            .insta__feed--container {
                padding: 0 3rem;
                .feed__container {
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 1.5rem;
                }
            }
        }
    }

    @media (max-width: $brk-small) {
        & {
            .insta__feed--container {

                padding: 0 3rem;
                .feed__container {
                    grid-template-columns: repeat(1, 1fr);
                    grid-gap: 1.5rem;

                    .post__single {
                        width: 100%;

                        a {
                            img {
                                width: 30rem;

                                &:hover {
                                    transform: scale(1.1) rotate(0);
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

// === NEWSLETTER
.newsletter {
    .newsletter__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .section__title--36 {
            text-align: center;
        }

        .form__container  {
            width: 100%;
            margin: 5rem auto 0;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                padding: 1.6rem 3rem;
                border: none;
                background-color: #f7f7f7;
                max-width: 47rem;
                font-size: 2.4rem;
                font-family: $ff-raleway;
                font-weight: $fw-semi-bold;
                margin-right: 4rem;

                &::placeholder {
                    color:rgba($clr-text, .3)
                }

                &:focus {
                    outline: none;
                }
            }
            
        }


    }

    @media (max-width: $brk-medium) {
        & {
            padding: 6rem 3rem;

            .section__subtitle--36 {
                text-align: center;
                line-height: 4.6rem;
            }

            .form__container {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                input {
                    width: 100%;
                }

                .btn {
                    display: block;
                    width: 100%;
                    margin-top: 2rem;
                }
            }
        }
    }
}

// === FOOTER 
.footer {
    background-color: $clr-accent;
    .footer__container {
        grid-template-columns: 30% 23.33% 23.33% 23.33%;
        grid-gap: 3rem;

        .column__about {
            .logo__footer {
                width: 100%;
                max-width: 22.9rem;
                margin-bottom: 1rem;
            }

            .about__text {
                font-size: 1.6rem;
                font-weight: $fw-regular;
                line-height: 3rem;
                color: $clr-white;
                margin-bottom: 3rem;
            }

            .footer__social {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                h4 {
                    font-size: 1.8rem;
                    font-weight: $fw-semi-bold;
                    margin-bottom: 2rem;
                    color: $clr-white;
                }

                ul {
                    display: flex;
                    gap: 2rem;

                    li {
                        a {
                            font-size: 2rem;
                            color: $clr-white;
                        }
                    }
                }
            }
        }

        .footer__column {
            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 2rem;
                gap: 1rem;

                li {
                    a {
                        font-size: 1.6rem;
                        color: $clr-white;
                    }
                }
            }
        }
    }

    @media (max-width: $brk-large) {
        & {
            padding: 5rem;
            .footer__container {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    @media (max-width: $brk-small) {
        & {
            padding: 3rem;
            .footer__container {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 0rem;

                .column__about {
                    padding-bottom: 3rem;
                }

                .footer__column {
                    border-top: 1px solid rgba($clr-lt-blue, .4);
                    padding: 3rem 0;
                }
            }
        }
    }
}

// === SUB FOOTER
.sub__footer {
    background-color: $clr-accent;
    border-top: 1px solid rgba($clr-lt-blue, .4);
    padding: 3rem 0;
    .sub__footer--container {
        display: flex;
        justify-content: center;

        .footer__copyright {
            font-size: 1.6rem;
            color: $clr-white;
        }
    }
}